USE [AdventureWorks2022_DWH2]
GO
/****** Object:  Schema [DWH]    Script Date: 14.04.2026 21:49:51 ******/
CREATE SCHEMA [DWH]
GO
/****** Object:  Schema [ODS]    Script Date: 14.04.2026 21:49:51 ******/
CREATE SCHEMA [ODS]
GO
/****** Object:  Schema [STG]    Script Date: 14.04.2026 21:49:51 ******/
CREATE SCHEMA [STG]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_LAST_DATE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GET_LAST_DATE] (@PACKAGE_NAME VARCHAR(100))
RETURNS DATETIME
AS
BEGIN
RETURN (SELECT ISNULL(MAX(LOAD_DATE),'1900-01-01')  AS LAST_DATE FROM ETL_LOG WHERE PACKAGE_NAME=@PACKAGE_NAME)
END

GO
/****** Object:  Table [dbo].[ETL_LOG]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PACKAGE_NAME] [varchar](100) NULL,
	[TABLE_NAME] [varchar](50) NULL,
	[LOAD_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[Dim_Customer]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[Dim_Customer](
	[DimCustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[FullName] [nvarchar](200) NULL,
	[PersonID] [int] NULL,
	[StoreID] [int] NULL,
	[TerritoryID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Dim_Customer] PRIMARY KEY CLUSTERED 
(
	[DimCustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[Dim_Product]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[Dim_Product](
	[DimProductID] [int] IDENTITY(1,1) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ProductID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[SafetyStockLevel] [smallint] NULL,
	[Color] [nvarchar](15) NULL,
	[StandardCost] [money] NULL,
	[ListPrice] [money] NULL,
	[ProductSubcategoryID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[Dim_SalesPerson]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[Dim_SalesPerson](
	[DimSalesPersonID] [int] IDENTITY(1,1) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[BusinessEntityID] [int] NULL,
	[SalesQuota] [money] NULL,
	[Bonus] [money] NULL,
	[CommissionPct] [money] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[Dim_Territory]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[Dim_Territory](
	[DimTerritoryID] [int] IDENTITY(1,1) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[CountryRegionCode] [nvarchar](3) NULL,
	[Group] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTerritoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[Fact_Sales]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[Fact_Sales](
	[FactSalesID] [int] IDENTITY(1,1) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Dim_TerritoryID] [int] NULL,
	[SalesOrderID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[Dim_CustomerID] [int] NULL,
	[Dim_SalesPersonID] [int] NULL,
	[SalesOrderDetailID] [int] NULL,
	[OrderQty] [smallint] NULL,
	[Dim_ProductID] [int] NULL,
	[UnitPrice] [money] NULL,
	[Revenue] [money] NULL,
	[Cost] [money] NULL,
	[Profit] [money] NULL,
	[Status] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactSalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Customer]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Customer](
	[CustomerID] [int] NULL,
	[PersonID] [int] NULL,
	[StoreID] [int] NULL,
	[TerritoryID] [int] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Product]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Product](
	[ProductID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Color] [nvarchar](15) NULL,
	[SafetyStockLevel] [smallint] NULL,
	[StandardCost] [money] NULL,
	[ListPrice] [money] NULL,
	[ProductSubcategoryID] [int] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[SalesOrderDetail]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[SalesOrderDetail](
	[ModifiedDate] [datetime] NULL,
	[SalesOrderID] [int] NULL,
	[SalesOrderDetailID] [int] NULL,
	[OrderQty] [smallint] NULL,
	[ProductID] [int] NULL,
	[SpecialOfferID] [int] NULL,
	[UnitPrice] [money] NULL,
	[UnitPriceDiscount] [money] NULL,
	[LineTotal] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[SalesOrderHeader]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[SalesOrderHeader](
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[SalesOrderID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[BillToAddressID] [int] NULL,
	[ShipToAddressID] [int] NULL,
	[CreditCardID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[SalesPerson]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[SalesPerson](
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[BusinessEntityID] [int] NULL,
	[SalesQuota] [money] NULL,
	[Bonus] [money] NULL,
	[CommissionPct] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Territory]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Territory](
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[CountryRegionCode] [nvarchar](3) NULL,
	[Group] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Customer]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Customer](
	[ModifiedDate] [datetime] NULL,
	[CustomerID] [int] NULL,
	[PersonID] [int] NULL,
	[StoreID] [int] NULL,
	[TerritoryID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Product]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Product](
	[ProductID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Color] [nvarchar](15) NULL,
	[SafetyStockLevel] [smallint] NULL,
	[StandardCost] [money] NULL,
	[ListPrice] [money] NULL,
	[ProductSubcategoryID] [int] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[SalesOrderDetail]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[SalesOrderDetail](
	[ModifiedDate] [datetime] NULL,
	[SalesOrderID] [int] NULL,
	[SalesOrderDetailID] [int] NULL,
	[OrderQty] [smallint] NULL,
	[ProductID] [int] NULL,
	[SpecialOfferID] [int] NULL,
	[UnitPrice] [money] NULL,
	[UnitPriceDiscount] [money] NULL,
	[LineTotal] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[SalesOrderHeader]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[SalesOrderHeader](
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[SalesOrderID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[BillToAddressID] [int] NULL,
	[ShipToAddressID] [int] NULL,
	[CreditCardID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[SalesPerson]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[SalesPerson](
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[BusinessEntityID] [int] NULL,
	[SalesQuota] [money] NULL,
	[Bonus] [money] NULL,
	[CommissionPct] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STG].[Territory]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[Territory](
	[ModifiedDate] [datetime] NULL,
	[TerritoryID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[CountryRegionCode] [nvarchar](3) NULL,
	[Group] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[Dim_Customer] ADD  CONSTRAINT [DF_Dim_Customer_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [DWH].[Dim_Product] ADD  CONSTRAINT [DF_Dim_Product_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [DWH].[Dim_SalesPerson] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [DWH].[Dim_Territory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[DIM_CUSTOMER_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DIM_CUSTOMER_MERGE]
AS
BEGIN


INSERT INTO [AdventureWorks2022_DWH2].[DWH].[Dim_Customer] 
(
    [CustomerID], [PersonID], [StoreID], [TerritoryID], 
    [FullName], [ModifiedDate], [StartDate], [EndDate], [IsActive]
)
SELECT 
    [CustomerID], [PersonID], [StoreID], [TerritoryID], 
    [FullName], [ModifiedDate], [StartDate], [EndDate], [IsActive]
FROM (
    MERGE [AdventureWorks2022_DWH2].[DWH].[Dim_Customer] AS TARGET
    USING (
        SELECT 
             SC.[CustomerID]
            ,SC.[PersonID]
            ,SC.[StoreID]
            ,SC.[TerritoryID]
            ,SC.[ModifiedDate]
            -- Kaynakta FullName oluştururken Collation'ı sabitliyoruz
            ,CAST((CASE 
                WHEN SS.[Name] IS NOT NULL THEN SS.[Name] 
                ELSE (PP.FirstName + ' ' + PP.LastName) 
             END) AS NVARCHAR(255)) COLLATE DATABASE_DEFAULT AS [FullName]
        FROM [AdventureWorks2022_DWH2].[ODS].[Customer] SC
        LEFT JOIN [AdventureWorks2022].[Person].[Person] PP ON SC.PersonID = PP.BusinessEntityID
        LEFT JOIN [AdventureWorks2022].[Sales].[Store] SS ON SC.StoreID = SS.BusinessEntityID
    ) AS SOURCE
    -- ID'ler sayısal olduğu için ON kısmında hata vermez
    ON TARGET.[CustomerID] = SOURCE.[CustomerID] AND TARGET.[IsActive] = 1

    WHEN MATCHED AND (
        -- Hem TARGET hem SOURCE tarafına COLLATE ekleyerek her iki tarafı da aynı dile çekiyoruz
        ISNULL(TARGET.[FullName] COLLATE DATABASE_DEFAULT, '') <> ISNULL(SOURCE.[FullName] COLLATE DATABASE_DEFAULT, '') OR
        ISNULL(TARGET.[PersonID], 0)    <> ISNULL(SOURCE.[PersonID], 0) OR
        ISNULL(TARGET.[StoreID], 0)     <> ISNULL(SOURCE.[StoreID], 0) OR
        ISNULL(TARGET.[TerritoryID], 0) <> ISNULL(SOURCE.[TerritoryID], 0)
    )
    THEN UPDATE SET 
        TARGET.[EndDate] = SOURCE.[ModifiedDate],
        TARGET.[IsActive] = 0

    WHEN NOT MATCHED BY TARGET 
    THEN INSERT 
    (
        [CustomerID], [PersonID], [StoreID], [TerritoryID], 
        [FullName], [ModifiedDate], [StartDate], [EndDate], [IsActive]
    )
    VALUES 
    (
        SOURCE.[CustomerID], SOURCE.[PersonID], SOURCE.[StoreID], SOURCE.[TerritoryID], 
        SOURCE.[FullName] COLLATE DATABASE_DEFAULT, -- Insert ederken de Collation'ı garantiliyoruz
        SOURCE.[ModifiedDate], 
        SOURCE.[ModifiedDate], 
        NULL, 
        1    
    )

    OUTPUT $action AS ActionName, 
    SOURCE.[CustomerID], SOURCE.[PersonID], SOURCE.[StoreID], SOURCE.[TerritoryID], 
    SOURCE.[FullName] COLLATE DATABASE_DEFAULT AS [FullName], 
    SOURCE.[ModifiedDate], 
    SOURCE.[ModifiedDate] AS [StartDate], NULL AS [EndDate], 1 AS [IsActive]
) AS MergeOutput
WHERE MergeOutput.ActionName = 'UPDATE';

END
GO
/****** Object:  StoredProcedure [dbo].[DIM_PRODUCT_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DIM_PRODUCT_MERGE]
AS
BEGIN

INSERT INTO [AdventureWorks2022_DWH2].[DWH].[Dim_Product] 
(
    [ProductID], [Name], [Color], [SafetyStockLevel], [StandardCost], 
    [ListPrice], [ProductSubcategoryID], [ModifiedDate], [StartDate], [EndDate], [IsActive]
)
SELECT 
    [ProductID], [Name], [Color], [SafetyStockLevel], [StandardCost], 
    [ListPrice], [ProductSubcategoryID], [ModifiedDate], [StartDate], [EndDate], [IsActive]
FROM (
    MERGE [AdventureWorks2022_DWH2].[DWH].[Dim_Product] AS TARGET
    USING [AdventureWorks2022_DWH2].[STG].[Product] AS SOURCE
    ON TARGET.[ProductID] = SOURCE.[ProductID] AND TARGET.[IsActive] = 1

    -- 1. MEVCUT KAYIT DEĞİŞTİYSE: Eski Kaydı Kapat (EndDate Güncelle)
    WHEN MATCHED AND (
        ISNULL(TARGET.[Name], '')                <> ISNULL(SOURCE.[Name], '') OR
        ISNULL(TARGET.[Color], '')               <> ISNULL(SOURCE.[Color], '') OR
        ISNULL(TARGET.[SafetyStockLevel], 0)     <> ISNULL(SOURCE.[SafetyStockLevel], 0) OR
        ISNULL(TARGET.[StandardCost], 0)         <> ISNULL(SOURCE.[StandardCost], 0) OR
        ISNULL(TARGET.[ListPrice], 0)            <> ISNULL(SOURCE.[ListPrice], 0) OR
        ISNULL(TARGET.[ProductSubcategoryID], 0) <> ISNULL(SOURCE.[ProductSubcategoryID], 0)
    )
    THEN UPDATE SET 
        TARGET.[EndDate] = SOURCE.[ModifiedDate], -- Eski kaydı yeni verinin tarihiyle kapat
        TARGET.[IsActive] = 0

    -- 2. YENİ KAYIT: Hedefte Hiç Yoksa Ekle
    WHEN NOT MATCHED BY TARGET 
    THEN INSERT 
    (
        [ProductID], [Name], [Color], [SafetyStockLevel], [StandardCost], 
        [ListPrice], [ProductSubcategoryID], [ModifiedDate], [StartDate], [EndDate], [IsActive]
    )
    VALUES 
    (
        SOURCE.[ProductID], SOURCE.[Name], SOURCE.[Color], SOURCE.[SafetyStockLevel], SOURCE.[StandardCost], 
        SOURCE.[ListPrice], SOURCE.[ProductSubcategoryID], SOURCE.[ModifiedDate], 
        SOURCE.[ModifiedDate], -- StartDate = ModifiedDate
        NULL, -- EndDate (Hala aktif)
        1    -- IsActive
    )

    -- 3. DEĞİŞEN KAYITLAR İÇİN YENİ SATIR ÜRETME (Output Clause)
    OUTPUT $action AS ActionName, 
    SOURCE.[ProductID], SOURCE.[Name], SOURCE.[Color], SOURCE.[SafetyStockLevel], SOURCE.[StandardCost], 
    SOURCE.[ListPrice], SOURCE.[ProductSubcategoryID], SOURCE.[ModifiedDate], 
    SOURCE.[ModifiedDate] AS [StartDate], NULL AS [EndDate], 1 AS [IsActive]
) AS MergeOutput
WHERE MergeOutput.ActionName = 'UPDATE'; -- Sadece güncellenenler için yeni bir "aktif" satır insert et


END
GO
/****** Object:  StoredProcedure [dbo].[DIM_SALES_PERSON_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DIM_SALES_PERSON_MERGE]
AS
BEGIN

-- 1. ADIM: Kaynak verileri standardize ediyoruz
WITH StandardizedSource AS (
    SELECT 
         [BusinessEntityID]
        ,[TerritoryID]
        ,[SalesQuota]
        ,[Bonus]
        ,[CommissionPct]
        ,[ModifiedDate]
    FROM [AdventureWorks2022_DWH2].[ODS].[SalesPerson]
)

-- 2. ADIM: SCD Type 2 Mantığı
INSERT INTO [AdventureWorks2022_DWH2].[DWH].[Dim_SalesPerson] 
(
    [BusinessEntityID], [TerritoryID], [SalesQuota], [Bonus], 
    [CommissionPct], [ModifiedDate], [StartDate], [EndDate], [IsActive]
)
SELECT 
    [BusinessEntityID], [TerritoryID], [SalesQuota], [Bonus], 
    [CommissionPct], [ModifiedDate], [StartDate], [EndDate], [IsActive]
FROM (
    MERGE [AdventureWorks2022_DWH2].[DWH].[Dim_SalesPerson] AS TARGET
    USING StandardizedSource AS SOURCE
    ON TARGET.[BusinessEntityID] = SOURCE.[BusinessEntityID] AND TARGET.[IsActive] = 1

    -- 1. GÜNCELLEME: Kota, Bonus veya Bölge değiştiyse eski satırı kapat
    WHEN MATCHED AND (
        ISNULL(TARGET.[TerritoryID], 0)  <> ISNULL(SOURCE.[TerritoryID], 0) OR
        ISNULL(TARGET.[SalesQuota], 0)   <> ISNULL(SOURCE.[SalesQuota], 0) OR
        ISNULL(TARGET.[Bonus], 0)        <> ISNULL(SOURCE.[Bonus], 0) OR
        ISNULL(TARGET.[CommissionPct], 0)<> ISNULL(SOURCE.[CommissionPct], 0)
    )
    THEN UPDATE SET 
        TARGET.[EndDate] = SOURCE.[ModifiedDate],
        TARGET.[IsActive] = 0

    -- 2. YENİ EKLEME: Satış personeli DWH'da yoksa ekle
    WHEN NOT MATCHED BY TARGET 
    THEN INSERT 
    (
        [BusinessEntityID], [TerritoryID], [SalesQuota], [Bonus], 
        [CommissionPct], [ModifiedDate], [StartDate], [EndDate], [IsActive]
    )
    VALUES 
    (
        SOURCE.[BusinessEntityID], SOURCE.[TerritoryID], SOURCE.[SalesQuota], SOURCE.[Bonus], 
        SOURCE.[CommissionPct], SOURCE.[ModifiedDate], 
        SOURCE.[ModifiedDate], -- StartDate
        NULL, -- EndDate
        1    -- IsActive
    )

    -- 3. GÜNCELLENENLER İÇİN YENİ VERSİYON (OUTPUT)
    OUTPUT $action AS ActionName, 
    SOURCE.[BusinessEntityID], SOURCE.[TerritoryID], SOURCE.[SalesQuota], SOURCE.[Bonus], 
    SOURCE.[CommissionPct], SOURCE.[ModifiedDate], 
    SOURCE.[ModifiedDate] AS [StartDate], NULL AS [EndDate], 1 AS [IsActive]
) AS MergeOutput
WHERE MergeOutput.ActionName = 'UPDATE';

END
GO
/****** Object:  StoredProcedure [dbo].[DIM_TERRITORY_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DIM_TERRITORY_MERGE]
AS
BEGIN

-- 1. ADIM: Kaynak verileri standardize ediyoruz 
WITH StandardizedSource AS (
    SELECT 
         [TerritoryID]
        ,CAST([Name] AS NVARCHAR(100)) COLLATE DATABASE_DEFAULT AS [Name]
        ,CAST([CountryRegionCode] AS NVARCHAR(3)) COLLATE DATABASE_DEFAULT AS [CountryRegionCode]
        ,CAST([Group] AS NVARCHAR(50)) COLLATE DATABASE_DEFAULT AS [Group]
        ,[ModifiedDate]
    FROM [AdventureWorks2022_DWH2].[ODS].[Territory]
)

-- 2. ADIM: SCD Type 2 Mantığı
INSERT INTO [AdventureWorks2022_DWH2].[DWH].[Dim_Territory] 
(
    [TerritoryID], [Name], [CountryRegionCode], [Group], 
    [ModifiedDate], [StartDate], [EndDate], [IsActive]
)
SELECT 
    [TerritoryID], [Name], [CountryRegionCode], [Group], 
    [ModifiedDate], [StartDate], [EndDate], [IsActive]
FROM (
    MERGE [AdventureWorks2022_DWH2].[DWH].[Dim_Territory] AS TARGET
    USING StandardizedSource AS SOURCE
    ON TARGET.[TerritoryID] = SOURCE.[TerritoryID] AND TARGET.[IsActive] = 1

    -- 1. GÜNCELLEME: Bölge adı, ülke kodu veya grup değiştiyse eski satırı kapat
    WHEN MATCHED AND (
        ISNULL(TARGET.[Name], '')              <> ISNULL(SOURCE.[Name], '') OR
        ISNULL(TARGET.[CountryRegionCode], '') <> ISNULL(SOURCE.[CountryRegionCode], '') OR
        ISNULL(TARGET.[Group], '')             <> ISNULL(SOURCE.[Group], '')
    )
    THEN UPDATE SET 
        TARGET.[EndDate] = SOURCE.[ModifiedDate],
        TARGET.[IsActive] = 0

    -- 2. YENİ EKLEME: Bölge DWH'da yoksa ekle
    WHEN NOT MATCHED BY TARGET 
    THEN INSERT 
    (
        [TerritoryID], [Name], [CountryRegionCode], [Group], 
        [ModifiedDate], [StartDate], [EndDate], [IsActive]
    )
    VALUES 
    (
        SOURCE.[TerritoryID], SOURCE.[Name], SOURCE.[CountryRegionCode], SOURCE.[Group], 
        SOURCE.[ModifiedDate], 
        SOURCE.[ModifiedDate], -- StartDate
        NULL, -- EndDate
        1    -- IsActive
    )

    -- 3. GÜNCELLENENLER İÇİN YENİ VERSİYON ÜRET (OUTPUT)
    OUTPUT $action AS ActionName, 
    SOURCE.[TerritoryID], SOURCE.[Name], SOURCE.[CountryRegionCode], SOURCE.[Group], 
    SOURCE.[ModifiedDate], 
    SOURCE.[ModifiedDate] AS [StartDate], NULL AS [EndDate], 1 AS [IsActive]
) AS MergeOutput
WHERE MergeOutput.ActionName = 'UPDATE';

END
GO
/****** Object:  StoredProcedure [dbo].[ETL_LOG_UPSERT]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ETL_LOG_UPSERT]
    @PackageName VARCHAR(100), 
    @TableName VARCHAR(50)     
AS
BEGIN
    SET NOCOUNT ON;

    MERGE INTO ETL_LOG AS Target
    USING (SELECT @PackageName AS PkgName, @TableName AS TblName) AS Source
    ON (Target.TABLE_NAME = Source.TblName)
    WHEN MATCHED THEN
        UPDATE SET 
            LOAD_DATE = GETDATE(), 
            PACKAGE_NAME = Source.PkgName
    WHEN NOT MATCHED THEN
        INSERT (PACKAGE_NAME, TABLE_NAME, LOAD_DATE)
        VALUES (Source.PkgName, Source.TblName, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[FACT_SALES_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[FACT_SALES_MERGE]
AS
BEGIN


WITH SOURCE_CTE AS
(
    SELECT  
        SD.SalesOrderDetailID,
        SH.SalesOrderID,
        SH.OrderDate,
        SH.DueDate,
        SH.ShipDate,

        ---------------------------------------------------
        -- DIMENSIONS (Kademeli Join Mantığı)
        ---------------------------------------------------
        
        -- CUSTOMER
        ISNULL(ISNULL(DC.DimCustomerID, DC_Curr.DimCustomerID), -1) AS DimCustomerID,
        
        -- SALESPERSON
        ISNULL(ISNULL(DSP.DimSalesPersonID, DSP_Curr.DimSalesPersonID), -1) AS DimSalesPersonID,
        
        -- TERRITORY
        ISNULL(ISNULL(DT.DimTerritoryID, DT_Curr.DimTerritoryID), -1) AS DimTerritoryID,

        -- PRODUCT
        ISNULL(ISNULL(DP.DimProductID, DP_Curr.DimProductID), -1) AS DimProductID,

        ---------------------------------------------------
        -- MEASURES
        ---------------------------------------------------
        SD.OrderQty,
        SD.UnitPrice,

        CASE 
            WHEN SH.ModifiedDate > SD.ModifiedDate THEN SH.ModifiedDate 
            ELSE SD.ModifiedDate 
        END AS ModifiedDate,

        SD.OrderQty * SD.UnitPrice AS Revenue,
        SD.OrderQty * ISNULL(DP.StandardCost, DP_Curr.StandardCost) AS Cost,
        (SD.OrderQty * SD.UnitPrice) - (SD.OrderQty * ISNULL(DP.StandardCost, DP_Curr.StandardCost)) AS Profit

    FROM ODS.SalesOrderHeader SH
    LEFT JOIN ODS.SalesOrderDetail SD 
        ON SH.SalesOrderID = SD.SalesOrderID

    -- CUSTOMER: Önce tarihe göre, yoksa en güncele bak
    LEFT JOIN DWH.Dim_Customer DC 
        ON SH.CustomerID = DC.CustomerID
        AND SH.OrderDate >= DC.StartDate AND SH.OrderDate < ISNULL(DC.EndDate, '9999-12-31')
    LEFT JOIN DWH.Dim_Customer DC_Curr 
        ON SH.CustomerID = DC_Curr.CustomerID AND DC_Curr.IsActive = 1

    -- SALESPERSON: Önce tarihe göre, yoksa en güncele bak
    LEFT JOIN DWH.Dim_SalesPerson DSP 
        ON SH.SalesPersonID = DSP.BusinessEntityID
        AND SH.OrderDate >= DSP.StartDate AND SH.OrderDate < ISNULL(DSP.EndDate, '9999-12-31')
    LEFT JOIN DWH.Dim_SalesPerson DSP_Curr 
        ON SH.SalesPersonID = DSP_Curr.BusinessEntityID AND DSP_Curr.IsActive = 1

    -- TERRITORY: Önce tarihe göre, yoksa en güncele bak
    LEFT JOIN DWH.Dim_Territory DT 
        ON SH.TerritoryID = DT.TerritoryID
        AND SH.OrderDate >= DT.StartDate AND SH.OrderDate < ISNULL(DT.EndDate, '9999-12-31')
    LEFT JOIN DWH.Dim_Territory DT_Curr 
        ON SH.TerritoryID = DT_Curr.TerritoryID AND DT_Curr.IsActive = 1

    -- PRODUCT: Önce tarihe göre, yoksa en güncele bak
    LEFT JOIN DWH.Dim_Product DP 
        ON SD.ProductID = DP.ProductID
        AND SH.OrderDate >= DP.StartDate AND SH.OrderDate < ISNULL(DP.EndDate, '9999-12-31')
    LEFT JOIN DWH.Dim_Product DP_Curr 
        ON SD.ProductID = DP_Curr.ProductID AND DP_Curr.IsActive = 1
)
MERGE DWH.Fact_Sales AS TARGET
USING SOURCE_CTE AS SOURCE
ON TARGET.SalesOrderDetailID = SOURCE.SalesOrderDetailID

---------------------------------------------------
-- UPDATE (Herhangi bir ID veya Değer Değiştiyse)
---------------------------------------------------
WHEN MATCHED AND 
(
    TARGET.Dim_CustomerID      <> SOURCE.DimCustomerID OR
    TARGET.Dim_SalesPersonID   <> SOURCE.DimSalesPersonID OR
    TARGET.Dim_TerritoryID     <> SOURCE.DimTerritoryID OR
    TARGET.Dim_ProductID       <> SOURCE.DimProductID OR
    TARGET.OrderQty            <> SOURCE.OrderQty OR
    TARGET.UnitPrice           <> SOURCE.UnitPrice OR
    TARGET.ModifiedDate        <> SOURCE.ModifiedDate
)
THEN UPDATE SET
      TARGET.SalesOrderID      = SOURCE.SalesOrderID
    , TARGET.OrderDate         = SOURCE.OrderDate
    , TARGET.Dim_CustomerID    = SOURCE.DimCustomerID
    , TARGET.Dim_SalesPersonID = SOURCE.DimSalesPersonID
    , TARGET.Dim_TerritoryID   = SOURCE.DimTerritoryID
    , TARGET.Dim_ProductID     = SOURCE.DimProductID
    , TARGET.OrderQty          = SOURCE.OrderQty
    , TARGET.UnitPrice         = SOURCE.UnitPrice
    , TARGET.Revenue           = SOURCE.Revenue
    , TARGET.Cost              = SOURCE.Cost
    , TARGET.Profit            = SOURCE.Profit
    , TARGET.ModifiedDate      = SOURCE.ModifiedDate

---------------------------------------------------
-- INSERT
---------------------------------------------------
WHEN NOT MATCHED BY TARGET
THEN INSERT 
(
    SalesOrderDetailID, SalesOrderID, OrderDate, DueDate, ShipDate,
    Dim_CustomerID, Dim_SalesPersonID, Dim_TerritoryID, Dim_ProductID,
    OrderQty, UnitPrice, Revenue, Cost, Profit, ModifiedDate
)
VALUES 
(
    SOURCE.SalesOrderDetailID, SOURCE.SalesOrderID, SOURCE.OrderDate, SOURCE.DueDate, SOURCE.ShipDate,
    SOURCE.DimCustomerID, SOURCE.DimSalesPersonID, SOURCE.DimTerritoryID, SOURCE.DimProductID,
    SOURCE.OrderQty, SOURCE.UnitPrice, SOURCE.Revenue, SOURCE.Cost, SOURCE.Profit, SOURCE.ModifiedDate
);

END
GO
/****** Object:  StoredProcedure [dbo].[ODS_CUSTOMER_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ODS_CUSTOMER_MERGE]
AS 
BEGIN
MERGE [AdventureWorks2022_DWH2].[ODS].[Customer] AS TARGET
USING [AdventureWorks2022_DWH2].[STG].[Customer] AS SOURCE
ON TARGET.CustomerID = SOURCE.CustomerID

---------------------------------------------------
-- 1. UPDATE BÖLÜMÜ (Kayıt Varsa ve Veri Değiştiyse)
---------------------------------------------------
WHEN MATCHED AND 
(
    ISNULL(TARGET.[PersonID], 0)    <> ISNULL(SOURCE.[PersonID], 0) OR
    ISNULL(TARGET.[StoreID], 0)     <> ISNULL(SOURCE.[StoreID], 0) OR
    ISNULL(TARGET.[TerritoryID], 0) <> ISNULL(SOURCE.[TerritoryID], 0) OR
    ISNULL(TARGET.[ModifiedDate], '1900-01-01') <> ISNULL(SOURCE.[ModifiedDate], '1900-01-01')
)
THEN UPDATE SET
      TARGET.[PersonID]    = SOURCE.[PersonID]
    , TARGET.[StoreID]     = SOURCE.[StoreID]
    , TARGET.[TerritoryID] = SOURCE.[TerritoryID]
    , TARGET.[ModifiedDate]= SOURCE.[ModifiedDate]

---------------------------------------------------
-- 2. INSERT BÖLÜMÜ (Yeni Kayıt)
---------------------------------------------------
WHEN NOT MATCHED BY TARGET
THEN INSERT 
(
    [CustomerID],
    [PersonID],
    [StoreID],
    [TerritoryID],
    [ModifiedDate]
)
VALUES 
(
    SOURCE.[CustomerID],
    SOURCE.[PersonID],
    SOURCE.[StoreID],
    SOURCE.[TerritoryID],
    SOURCE.[ModifiedDate]
);
END
GO
/****** Object:  StoredProcedure [dbo].[ODS_PRODUCT_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ODS_PRODUCT_MERGE]
AS
BEGIN

MERGE [AdventureWorks2022_DWH2].[ODS].[Product] AS TARGET
USING [AdventureWorks2022_DWH2].[STG].[Product] AS SOURCE
ON TARGET.ProductID = SOURCE.ProductID

---------------------------------------------------
-- 1. UPDATE BÖLÜMÜ 
---------------------------------------------------
WHEN MATCHED AND 
(
    ISNULL(TARGET.[Name], '')                <> ISNULL(SOURCE.[Name], '') OR
    ISNULL(TARGET.[Color], '')               <> ISNULL(SOURCE.[Color], '') OR
    ISNULL(TARGET.[SafetyStockLevel], 0)     <> ISNULL(SOURCE.[SafetyStockLevel], 0) OR
    ISNULL(TARGET.[StandardCost], 0)         <> ISNULL(SOURCE.[StandardCost], 0) OR
    ISNULL(TARGET.[ListPrice], 0)            <> ISNULL(SOURCE.[ListPrice], 0) OR
    ISNULL(TARGET.[ProductSubcategoryID], 0) <> ISNULL(SOURCE.[ProductSubcategoryID], 0) OR
    ISNULL(TARGET.[ModifiedDate], '1900-01-01') <> ISNULL(SOURCE.[ModifiedDate], '1900-01-01')
)
THEN UPDATE SET
      TARGET.[Name]                 = SOURCE.[Name]
    , TARGET.[Color]                = SOURCE.[Color]
    , TARGET.[SafetyStockLevel]     = SOURCE.[SafetyStockLevel]
    , TARGET.[StandardCost]         = SOURCE.[StandardCost]
    , TARGET.[ListPrice]            = SOURCE.[ListPrice]
    , TARGET.[ProductSubcategoryID] = SOURCE.[ProductSubcategoryID]
    , TARGET.[ModifiedDate]         = SOURCE.[ModifiedDate]

---------------------------------------------------
-- 2. INSERT BÖLÜMÜ
---------------------------------------------------
WHEN NOT MATCHED BY TARGET
THEN INSERT 
(
    [ProductID],
    [Name],
    [Color],
    [SafetyStockLevel],
    [StandardCost],
    [ListPrice],
    [ProductSubcategoryID],
    [ModifiedDate]
)
VALUES 
(
    SOURCE.[ProductID],
    SOURCE.[Name],
    SOURCE.[Color],
    SOURCE.[SafetyStockLevel],
    SOURCE.[StandardCost],
    SOURCE.[ListPrice],
    SOURCE.[ProductSubcategoryID],
    SOURCE.[ModifiedDate]
);

END
GO
/****** Object:  StoredProcedure [dbo].[ODS_SALES_DETAIL_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ODS_SALES_DETAIL_MERGE]
AS
BEGIN
MERGE INTO [ODS].[SalesOrderDetail] AS Target
USING [STG].[SalesOrderDetail] AS Source
ON (Target.[SalesOrderDetailID] = Source.[SalesOrderDetailID]) 


WHEN MATCHED AND (
    Target.[OrderQty] <> Source.[OrderQty] OR 
    Target.[ProductID] <> Source.[ProductID] OR
    Target.[UnitPrice] <> Source.[UnitPrice] OR
    Target.[LineTotal] <> Source.[LineTotal] OR
    Target.[ModifiedDate] <> Source.[ModifiedDate]
)
THEN UPDATE SET 
    Target.[SalesOrderID] = Source.[SalesOrderID],
    Target.[OrderQty] = Source.[OrderQty],
    Target.[ProductID] = Source.[ProductID],
    Target.[SpecialOfferID] = Source.[SpecialOfferID],
    Target.[UnitPrice] = Source.[UnitPrice],
    Target.[UnitPriceDiscount] = Source.[UnitPriceDiscount],
    Target.[LineTotal] = Source.[LineTotal],
    Target.[ModifiedDate] = Source.[ModifiedDate]


WHEN NOT MATCHED BY TARGET THEN
INSERT (
    [ModifiedDate],
    [SalesOrderID],
    [SalesOrderDetailID],
    [OrderQty],
    [ProductID],
    [SpecialOfferID],
    [UnitPrice],
    [UnitPriceDiscount],
    [LineTotal]
)
VALUES (
    Source.[ModifiedDate],
    Source.[SalesOrderID],
    Source.[SalesOrderDetailID],
    Source.[OrderQty],
    Source.[ProductID],
    Source.[SpecialOfferID],
    Source.[UnitPrice],
    Source.[UnitPriceDiscount],
    Source.[LineTotal]
);

END
GO
/****** Object:  StoredProcedure [dbo].[ODS_SALES_HEADER_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ODS_SALES_HEADER_MERGE]
AS
BEGIN
MERGE INTO [ODS].[SalesOrderHeader] AS Target
USING [STG].[SalesOrderHeader] AS Source
ON (Target.[SalesOrderID] = Source.[SalesOrderID]) -- Birincil Anahtar

-- 1. Kayıtlar eşleşiyorsa ve içerik değişmişse GÜNCELLE
WHEN MATCHED AND (
    Target.[Status] <> Source.[Status] OR 
    Target.[TerritoryID] <> Source.[TerritoryID] OR
    Target.[ModifiedDate] <> Source.[ModifiedDate] OR
    Target.[ShipDate] <> Source.[ShipDate] OR
    Target.[SalesPersonID] <> Source.[SalesPersonID]
)
THEN UPDATE SET 
    Target.[ModifiedDate] = Source.[ModifiedDate],
    Target.[TerritoryID] = Source.[TerritoryID],
    Target.[OrderDate] = Source.[OrderDate],
    Target.[DueDate] = Source.[DueDate],
    Target.[ShipDate] = Source.[ShipDate],
    Target.[Status] = Source.[Status],
    Target.[CustomerID] = Source.[CustomerID],
    Target.[SalesPersonID] = Source.[SalesPersonID],
    Target.[BillToAddressID] = Source.[BillToAddressID],
    Target.[ShipToAddressID] = Source.[ShipToAddressID],
    Target.[CreditCardID] = Source.[CreditCardID]

-- 2. Kayıt hedefte yoksa YENİ EKLE
WHEN NOT MATCHED BY TARGET THEN
INSERT (
    [ModifiedDate],
    [TerritoryID],
    [SalesOrderID],
    [OrderDate],
    [DueDate],
    [ShipDate],
    [Status],
    [CustomerID],
    [SalesPersonID],
    [BillToAddressID],
    [ShipToAddressID],
    [CreditCardID]
)
VALUES (
    Source.[ModifiedDate],
    Source.[TerritoryID],
    Source.[SalesOrderID],
    Source.[OrderDate],
    Source.[DueDate],
    Source.[ShipDate],
    Source.[Status],
    Source.[CustomerID],
    Source.[SalesPersonID],
    Source.[BillToAddressID],
    Source.[ShipToAddressID],
    Source.[CreditCardID]
);

END
GO
/****** Object:  StoredProcedure [dbo].[ODS_SALES_PERSON_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ODS_SALES_PERSON_MERGE]
AS
BEGIN

MERGE [AdventureWorks2022_DWH2].[ODS].[SalesPerson] AS TARGET
USING [AdventureWorks2022_DWH2].[STG].[SalesPerson] AS SOURCE
ON TARGET.BusinessEntityID = SOURCE.BusinessEntityID

---------------------------------------------------
-- 1. UPDATE BÖLÜMÜ (Kayıt Varsa ve Veri Değiştiyse)
---------------------------------------------------
WHEN MATCHED AND 
(
    ISNULL(TARGET.[TerritoryID], 0)     <> ISNULL(SOURCE.[TerritoryID], 0) OR
    ISNULL(TARGET.[SalesQuota], 0)      <> ISNULL(SOURCE.[SalesQuota], 0) OR
    ISNULL(TARGET.[Bonus], 0)           <> ISNULL(SOURCE.[Bonus], 0) OR
    ISNULL(TARGET.[CommissionPct], 0)    <> ISNULL(SOURCE.[CommissionPct], 0) OR
    ISNULL(TARGET.[ModifiedDate], '1900-01-01') <> ISNULL(SOURCE.[ModifiedDate], '1900-01-01')
)
THEN UPDATE SET
      TARGET.[TerritoryID]  = SOURCE.[TerritoryID]
    , TARGET.[SalesQuota]   = SOURCE.[SalesQuota]
    , TARGET.[Bonus]        = SOURCE.[Bonus]
    , TARGET.[CommissionPct] = SOURCE.[CommissionPct]
    , TARGET.[ModifiedDate] = SOURCE.[ModifiedDate]

---------------------------------------------------
-- 2. INSERT BÖLÜMÜ (Yeni Kayıt)
---------------------------------------------------
WHEN NOT MATCHED BY TARGET
THEN INSERT 
(
    [BusinessEntityID],
    [TerritoryID],
    [SalesQuota],
    [Bonus],
    [CommissionPct],
    [ModifiedDate]
)
VALUES 
(
    SOURCE.[BusinessEntityID],
    SOURCE.[TerritoryID],
    SOURCE.[SalesQuota],
    SOURCE.[Bonus],
    SOURCE.[CommissionPct],
    SOURCE.[ModifiedDate]
);

END
GO
/****** Object:  StoredProcedure [dbo].[ODS_TERRITORY_MERGE]    Script Date: 14.04.2026 21:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ODS_TERRITORY_MERGE]
AS
BEGIN

MERGE [AdventureWorks2022_DWH2].[ODS].[Territory] AS TARGET
USING [AdventureWorks2022_DWH2].[STG].[Territory] AS SOURCE
ON TARGET.TerritoryID = SOURCE.TerritoryID

---------------------------------------------------
-- 1. UPDATE BÖLÜMÜ (Kayıt Varsa ve Değişiklik Varsa)
---------------------------------------------------
WHEN MATCHED AND 
(
    ISNULL(TARGET.[Name], '')              <> ISNULL(SOURCE.[Name], '') OR
    ISNULL(TARGET.[CountryRegionCode], '') <> ISNULL(SOURCE.[CountryRegionCode], '') OR
    ISNULL(TARGET.[Group], '')             <> ISNULL(SOURCE.[Group], '') OR
    ISNULL(TARGET.[ModifiedDate], '1900-01-01') <> ISNULL(SOURCE.[ModifiedDate], '1900-01-01')
)
THEN UPDATE SET
      TARGET.[Name]              = SOURCE.[Name]
    , TARGET.[CountryRegionCode] = SOURCE.[CountryRegionCode]
    , TARGET.[Group]             = SOURCE.[Group]
    , TARGET.[ModifiedDate]      = SOURCE.[ModifiedDate]

---------------------------------------------------
-- 2. INSERT BÖLÜMÜ (Yeni Kayıt)
---------------------------------------------------
WHEN NOT MATCHED BY TARGET
THEN INSERT 
(
    [TerritoryID],
    [Name],
    [CountryRegionCode],
    [Group],
    [ModifiedDate]
)
VALUES 
(
    SOURCE.[TerritoryID],
    SOURCE.[Name],
    SOURCE.[CountryRegionCode],
    SOURCE.[Group],
    SOURCE.[ModifiedDate]
);

END
GO
